<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.expedia.lux.accountsettingstest.common.database.queries.sqlserver.MTTWebExpHTL.TravelerMapper">
    <select id="selectTraveler" resultType="Traveler">
        SELECT
        *
        FROM dbo.Traveler WITH (NOLOCK)
        WHERE TUID = #{TUID}
    </select>
</mapper>